header{
    display: flex;
    justify-content: center;
}
/* .nav{
    display: flex;
} */
.head2{
    display: flex;
    justify-content: space-between;
    gap: 40px;

}
.column{
    column-count: 3;
    column-rule: 1px solid lightblue;
}
.footer{
    padding: 30px;
    display: flex;
    background-color: grey;
    justify-content: center;
    margin-top: 200px;
 }