header{
            display: flex;
            justify-content: space-between;
        }
        body{
           /* background-image: url(pexels-pixabay\ 2.jpg); */
          
           background-repeat: no-repeat;
           
    
        }
        nav{
            color:black;
            display: flex;
            gap: 20px;
            margin-top: 20px;
        }
        .btn {
  background-color: orange;
  border: none;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;}
       